.contact {
  padding: 60px 0;
  margin-top: 50px;
  text-align: center;
  .gb-head {
    color: $green-color;
  }
  .gb-desc {
    width: 70%;
    margin: 20px auto;
  }
  .row {
    margin-top: 50px;
  }
}
